@import '../../utils/variables.scss';

.about-page {
    padding-bottom: 2.5rem;
    .my-story {
        display: flex;
        margin: 3%;
        border-bottom-width: 1px !important;
        border-bottom-color: #e0e0e0 !important;
        border-bottom-style: solid !important;

        @media all and (max-width: $large-mobile) {
            flex-direction: column;
        }

        img {
            max-width: 250px;
            max-height: 250px;
        }

        .my-story-left {
            margin-right: 3%;
            justify-content: center;
            display: flex;
        }

        .my-story-right {
            margin-block-start: 0;
        }
    }

    .my-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3%;
    }

    .skills-cards {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media all and (max-width: $large-mobile) {
            flex-direction: column;
        }
    }

    .my-cv {
        background-color: white;
        color: black;
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        align-items: center;

        @media all and (max-width: $large-mobile) {
            flex-direction: column;
        }

        img {
            height: 40px;
            width: auto;
            margin-left: 7%;

            @media all and (max-width: $large-mobile) {
                margin-left: 0;
            }
        }

        .my-cy-text {
            width: 50%;
            margin-left: 2%;
            text-align: center;

            @media all and (max-width: $large-mobile) {
                margin-left: 0;
                margin-top: 2%;
                margin-bottom: 2%;
            }
        }

        .my-cv-button-container {
            width: 30%;
            text-align: right;
            display: flex;

            @media all and (max-width: $large-mobile) {
                width: unset;
            }
            .my-cv-button {
                background-color: #000;
                padding: 10px 22px;
                color: white;
                text-decoration: none;
            }
        }
    }
}
