@import "../../../utils/variables.scss";

.skills-card {
  width: 33%;
  min-height: 320px;
  max-width: 250px;
  background-color: #626262;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media all and (max-width: $large-mobile) {
    width: 95%;
  }

  img {
    height: 100px;
    width: auto;
  }
}
